{% extends "./base_menu.html" %}
<!-- from catalog -->
<!-- Fonts and security from dj4e -->

{% block content %}
{% include "misc/includes/messages.html" %}

<h1>Author List</h1>
    <div style="float:right">
<!-- https://www.w3schools.com/howto/howto_css_search_button.asp -->
        <form>
            <input type="text" placeholder="Search.." name="search"
                {% if search %} value="{{ search }}" {% endif %}
            >
            <button type="submit"><i class="fa fa-search"></i></button>
            <a href="{% url 'booklibrary:books' %}"><i class="fa fa-undo"></i></a><br>
            <input type="checkbox" id="author_location" name="author_location" value="Yes">
            <label for="author_location"> Location of all the books for this author?</label><br>
        </form>
    </div>

{% if page_obj %} <!-- page_obj comes in from view and is the list of authors -->
    <ul>
        {% for author in page_obj %}
        <li>
            <a href="{{ author.get_absolute_url }}">
            {{ author }} ({{author.date_of_birth}} - {% if author.date_of_death %}{{author.date_of_death}}{% endif %})
            <span style="float: right;">
                {% if perms.booklibrary.delete_author %}
                    <a href="{% url 'booklibrary:author-update' author.id %}"><i class="fa fa-pencil"></i></a>
                    <a href="{% url 'booklibrary:author-delete' author.id %}"><i class="fa fa-trash"></i></a>
                {% endif %}
            </span>
            </a>
        </li>
        {% endfor %}
        {% include "misc/includes/pagination.html" %}
    </ul>
{% else %}
  <p>There are no authors available.</p>
{% endif %}
{% endblock %}

